h1.page-header Dashboard 
a.btn--account-primary(href="/account/properties/add") Add property
.row.placeholders
  // if(user.properties.length === 0)
  div.flash__info--empty-list
    p.flash__info-header Looks like you haven't listed anything yet. 
    a.btn.btn-primary(href="#") Add new property
  // else
  //   -each property in user.properties 
  //     .card
  //       div.card__container
  //         div.card__image-container
  //           a.card__title(href="/properties/#{property._id}/") #{property.name} 
  //           img.card__image(src='/images/image-1.jpg', alt='Generic placeholder thumbnail')
  //         footer.card__footer
  //           div
  //             span=property.bedroom
  //             span bed
  //             // i.flaticon-furniture117
  //           div
  //             span=property.shower
  //             span bath 
  //             // i.flaticon-showers7
  //           div
  //             span=property.bedroom
  //             span sqmt 
  //             // i.flaticon-home180
