extends layout

block content
  include ./layout/nav.jade
  .container
    div.col-sm-9
      div.col-sm-2
        img.img-responsive(src="/images/homepage-background.jpg")
      div.col-sm-8
        h2 #{property.name} 
        p #{moment(property.created_at).startOf('day').fromNow()} 
    div.col-sm-3
      p Lorem doloribus modi facilis qui.
  .container
  if property.comments
    h2 Comments
    each comment, i in property.comments
      p #{comment.body}
        span by #{comment.author}
    // If there is user, therefore user is logged in
    if user 
      h2 Add comment
      form(method="post", action="/properties/" + property._id + "/")
        input(name="user_id", type="hidden", value="#{user._id}")
        input(name="property_id", type="hidden", value="#{property._id}")
        .form-group
          textarea(type="text", name="comment_body")
        input(type="submit", value="Add Comment")
    else
      a(href="/login") Login to comment
  .container
    h2 Nearby Properties
    each property, i in properties 
      div.property__card.col-sm-4
        div.property__image-container
          a.property__love(href="#") 
            span.is-loved__count 88
            i.fa.fa-heart-o
          a(href="/properties/#{property._id}")
            img.img-responsive(src="/images/homepage-background.jpg")
          div.property__title
            span #{property.name}
          div.property__price
            span P882342
          div.property__location
            i.property__location-icon.fa.fa-map-marker
            span.property__location-loc Phase 3 Blk 5 Lot 4 Bangkal
        div.property__header
          img.property__author--image.img-circle(src="/images/location-property-matina.jpg")
        div.col-sm-3
          span #{property.bedroom} 
          i.flaticon-furniture117
        div.col-sm-3
          span #{property.shower} 
          i.flaticon-showers7
        div.col-sm-4
          span #{property.shower} 
          i.flaticon-home180
include ./layout/footer.jade
