extends layout

block content
  include ./layout/account/account-nav.jade
  // include ./layout/nav.jade

  div.area__main--image
    img.img-responsive(src="/images/homepage-background.jpg")
  div.area__title-container
    div.container
      div.col-sm-9
        h2.area__main--title #{area.name}
        p Adipisicing corporis natus necessitatibus sed illo! Recusandae alias facilis fugiat laudantium temporibus. Sapiente minima dignissimos nam atque debitis. In dolore.
      div.col-sm-3
        h2 #{area.properties.length} Properties
  div.container.main--public
    div.col-sm-9  
      - if (area)
        - if (area.properties.length === 0)
          p No property listed in #{area.name}
        - each prop in area.properties
          li
            a(href="/properties/#{prop._id}/") #{prop.name}

      - if (areas)
        p List all areas 
        ul
        - each area in areas 
          li
            a(href="/areas/#{area.name}/") #{area.name} - #{area.properties.length} properties 
include ./layout/footer.jade
